/*---CSS Color Scheme and Such
#7B0302 Maroon #A00204 Sangria #DBAC4D Rob Roy #EBC596 New Tan #152038 Blue Whale
#FFFE04 Yellow #EE0002 Red #BBBEA9 Beryl Green #D31401 Free Speech Red---*/

body{
    background-color: black;
    background-size: cover;
    margin: 0;
}

.header{
    background: #d31401;
    background-size: cover;
    background-position: center;
    align-items: center;
    position: sticky;
    width: 100%;
    top:0px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0%;
    height: 80px;
    z-index: 2;
}

#hero{
    background-image: url(images/pumkin.jpeg);
    background-repeat:no-repeat;
    background-size:cover;
    background-position-y:bottom;
    min-height:800px;
}

.title{
    color: #EBC596;
}

a:link, a:visited{
    color: #EBC596;
    text-decoration: none;
}

.nav{
    display: flex;
    list-style: none;
}

.nav a{
    padding: 0px 25px 0px 25px;
    color: #EBC596;
    text-decoration: none;
    font-size: 30px;
    text-align: right;
}

.logo{
    width:14%;
    margin: 0 0 0 0;
    float: left;
    height: 80px;
}

footer{
    top: 0px;
    height: 800px;
    margin-bottom: 0px;
}

#footerLogo{
    margin-left: 43%
}

.imag{
    background-image: url(https://sjc1.vultrobjects.com/cucdn/gallery-38/art/p5r-characters-art.jpg);
    height: 1000px;
    background-size: cover;
}

.plotImag{
    width: 50%;

}

.copy{
    background-color: #d31401;
    height: 200px;
    text-align: center;
}

h2{
    color: #EBC596;
}

h5{
    color:#EBC596;
}

.content{
    text-align: center;
    margin: 50px 0px 70px 0px;
    background-color:#d31401;
    width: 80%;
}

.plotIntro{
    text-align: center;
    margin: 50px 0px 70px 0px;
    background-color:#d31401;
    width: 83%;
    height: 50%;
    border-radius: 40px;
}

.plotKamoshida{
    text-align: center;
    margin: 50px 0px 70px 50px;
    background-color:#d31401;
    width: 96%;
    height: 61%;
    border-radius: 40px;
}

.plotMadarame{
    text-align: center;
    margin: 50px 50px 70px 0px;
    background-color:#d31401;
    width: 100%;
    height: 38%;
    border-radius: 40px;
}

.plotKaneshiro{
    text-align: center;
    margin: 0px 0px 70px 50px;
    background-color:#d31401;
    width: 100%;
    height: 52%;
    border-radius: 40px;
}

.plotFutaba{
    text-align: center;
    margin: 0px 30px 70px 50px;
    background-color:#d31401;
    width: 90%;
    height: 49%;
    border-radius: 40px;
}

.plotOkumura{
    text-align: center;
    margin: 0px 0px 70px 50px;
    background-color:#d31401;
    width: 100%;
    height: 34%;
    border-radius: 40px;
}

.plotNiijima{
    text-align: center;
    margin: 0px 0px 70px 50px;
    background-color:#d31401;
    width: 90%;
    height: 68%;
    border-radius: 40px;
}

.plotShido{
    text-align: center;
    margin: 0px 0px 70px 50px;
    background-color:#d31401;
    width: 100%;
    height: 45%;
    border-radius: 40px;
}

.plotYalda{
    text-align: center;
    margin: 0px 0px 70px 50px;
    background-color:#d31401;
    width: 90%;
    height: 19%;
    border-radius: 40px;
}

.contentText{
    color: white;
    display: flex;
    justify-content: center;
    font-size: 19px;
}

.content h2, .contentText, .charContent{
    color:#EBC596;
}

.charContent{
    color:#EBC596;
}

header .navText{
    font-weight: bolder
}

.content{
    border-radius: 40px;
}

.container{
    display: flex;
    justify-content: center;
}

.containerPlot{
    display: grid;
    grid-template-columns: 700px 700px;
    grid-template-rows: 500px 500px 500px 500px 500px 500px 500px 500px 500px;
    text-align: center;
}

.containerChar{
    display: grid;
    grid-template-columns: 500px;
    grid-template-rows: 1200px 1200px 1200px 1200px 1200px 1200px 1200px 1200px 1200px;
    margin-left: 29%;
}

.containerPlot p{
    margin-top: px;
    color: #EBC596;
}

.plotBold{
   color:#EBC596;
}

#image1{
    height: 400px;
}

#image2{
    height: 350px;
}

#image3{
    height: 350px;
}

#image4{
    height: 330px;
}

#image5{
    height: 380px;
}

#image6{
    height: 320px;
}

#image7{
    height: 340px;
}

#image8{
    height: 320px;
}

#image9{
    height: 390px;
    position: relative; top: 34px;
}

#image10{
    height: 300px;
    margin-left: 780px;
    margin-bottom: 400px;
    position: relative; top: -320px;
}

.capLeblanc{
    background-color: #d31401;
    border-radius: 40px;
    width: 200px;
    margin-left: 250px;
}

.capKamo{
    background-color: #d31401;
    border-radius: 40px;
    width: 270px;
    margin-left: 220px;
}

.capMada{
    background-color: #d31401;
    border-radius: 40px;
    width: 300px;
    margin-left: 203px;
}

.capKane{
    background-color: #d31401;
    border-radius: 40px;
    width: 280px;
    margin-left: 210px;
}

.capFutaba{
    background-color: #d31401;
    border-radius: 40px;
    width: 270px;
    margin-left: 218px;
}

.capOku{
    background-color: #d31401;
    border-radius: 40px;
    width: 300px;
    margin-left: 218px;
}

.capSae{
    background-color: #d31401;
    border-radius: 40px;
    width: 230px;
    margin-left: 218px;
}

.capShido{
    background-color: #d31401;
    border-radius: 40px;
    width: 240px;
    margin-left: 240px;
}

.capMem{
    position: relative; top: 32px;
    background-color: #d31401;
    border-radius: 40px;
    width: 350px;
    margin-left: 180px;
}

.capMaruki{
    position: relative; top: -72px;
    background-color: #d31401;
    border-radius: 40px;
    width: 300px;
    margin-left: 220px;
}