/*---CSS Color Scheme and Such
#7B0302 Maroon #A00204 Sangria #DBAC4D Rob Roy #EBC596 New Tan #152038 Blue Whale
#FFFE04 Yellow #EE0002 Red #BBBEA9 Beryl Green #D31401 Free Speech Red---*/

body{
    background-color: black;
    background-size: cover;
    margin: 0;
}

.header{
    background: #d31401;
    background-size: cover;
    background-position: center;
    align-items: center;
    position: sticky;
    width: 100%;
    top:0px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0%;
}

.jonk{
    width: 20px;
}

#hero{
    background-image: url(images/pumkin.jpeg);
    background-repeat:no-repeat;
    background-size:cover;
    background-position-y:bottom;
    min-height:800px;
}

.title{
    color: #EBC596;
}

a:link, a:visited{
    color: #EBC596;
    text-decoration: none;
}

.nav{
    display: flex;
    list-style: none;
}

.nav a{
    padding: 0px 25px 0px 25px;
    color: #EBC596;
    text-decoration: none;
    font-size: 30px;
    text-align: right;
}

.logo{
    width:14%;
    margin: 0 0 0 0;
    float: left;
}

#footerLogo{
    margin-left: 43%
}

.imag{
    background-image: url(https://sjc1.vultrobjects.com/cucdn/gallery-38/art/p5r-characters-art.jpg);
    height: 1000px;
    background-size: cover;
}

.plotImag{
    width: 50%;

}

.copy{
    background-color: #d31401;
    height: 200px;
    text-align: center;
}

h2{
    color: white
}

h5{
    color:#EBC596;
}

.content{
    text-align: center;
    margin: 50px 0px 70px 0px;
    background-color:#d31401;
    width: 80%;
}

.contentText{
    color: white;
    display: flex;
    justify-content: center;
    font-size: 19px;
}

.content h2, .contentText, .charContent{
    color:#EBC596;
}

.charContent{
    color:#EBC596;
}

header .navText{
    font-weight: bolder
}

.content{
    border-radius: 40px;
}

.container{
    display: flex;
    justify-content: center;
}

.containerPlot{
    display: grid;
    grid-template-columns: 700px 700px;
    grid-template-rows: 500px 500px 500px 500px 500px 500px 500px 500px 500px 500px;
    text-align: center;
}

.containerChar{
    display: grid;
    grid-template-columns: 500px;
    grid-template-rows: 1200px 1200px 1200px 1200px 1200px 1200px 1200px 1200px 1200px 1200px;
    margin-left: 29%;
}

.containerPlot p{
    margin-top: px;
    color: #EBC596;
}

.plotBold, imgCite{
   color:#EBC596;
}

.plotImage1{
    color:#EBC596;
    background-image: url(images/leblanc2.jpg);
    background-repeat: no-repeat;
}